mixin header()
    header.header
        a.header__logo(href="https://digital-spectr.com/" target="_blank")
            include ../../images/icons/logo.svg
        nav.header-nav
            a.header-nav__link.header-nav__link_active(href="https://digital-spectr.com/" target="_blank") Главная
            a.header-nav__link(href="https://digital-spectr.com/about/" target="_blank") О нас
            a.header-nav__link(href="https://digital-spectr.com/blog/" target="_blank") Блог
            a.header-nav__link(href="https://digital-spectr.com/services/" target="_blank") Услуги
