include head.pug
include header.pug
include footer.pug
block variables
    
doctype html
html(lang='ru')
    +head(page_title || '', scripts || [])

    body
        +header()
        main
        +footer()
