include head.pug
include header.pug
include footer.pug
include ../components/form-card.pug
include ../components/grid.pug
include ../components/profile.pug
block variables
    
doctype html
html(lang='ru')
    +head(page_title || '', scripts || [])

    body.body
        +header()
        main
            +profile()
            +grid()
        +footer()
        +form-card()
