extends ./layout/layout

block variables
    - var page_title = 'UI Kit';

block content
    h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    h2 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    h3 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    h4 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    h5 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    h6 Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    span Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    a(href="#") Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    button Button
    form
        input(type='email' name='email' placeholder='email')
        input(type='number' name='number' placeholder='number')
        input(type='password' name='password' placeholder='password')
        input(type='search' name='search' placeholder='search')
        input(type='tel' name='tel' placeholder='tel')
        input(type='text' name='text' placeholder='text')
        input(type='url' name='url' placeholder='url')
        input(name='notype' placeholder='notype')
        textarea(placeholder='textarea')