.header{
    margin-top: 45px;
    &__line{
      width: 100%;
      opacity: .7;
      border: 1px solid $gray;
      margin-top: 41px;
      @include desktop-to-phone{
        width: 100vw;
      }
    }
}