mixin form()
    .form-container
        .form-content
            .form
                h2.title Edit profile
                form(action="").form-text-container 
                    input(type="text").form__input.form-name
                    input(type="text").form__input.form-description
                    button(type='submit').form__button Save
            .close 
    