mixin form-rename()
    .form-rename
        .blackout
            .form-content
                .form
                    h2.title Edit profile
                    form(action="").form-text-container 
                        input(type="text" required maxlength="40" minlength="2").form__input#form-name
                        input(type="text" required maxlength="200" minlength="2").form__input#form-description
                        button(type='submit').form__button Save
                .close 
    