mixin form-card()
    .form-card
        .blackout
            .form-content
                .form
                    h2.title New place
                    form(action="").form-text-container 
                        input(type="text" placeholder="Title").form__input.form-name
                        input(type="text" placeholder="Image link").form__input.form-description
                        button(type='submit').form__button Save
                .close 