mixin form-card()
    .form-card
        .blackout
            .form-content
                .form
                    h2.title New place
                    form(action="" novalidate).popup__form 
                        input(type="text" placeholder="Title" required minlength="1" maxlength="30").form__input#card-title
                        span.card-title-error.form__input-error
                        input(type="url" placeholder="Image link" required).form__input#card-link
                        span.card-link-error.form__input-error
                        button(type='submit').form__button Save
                .close 