mixin form-card()
    template.template-form
        .blackout
            .form-content
                .form
                    h2.title Edit profile
                    form(action="").form-text-container 
                        input(type="text" placehodler="Title").form__input.form-name
                        input(type="text" placehodler="Image link").form__input.form-description
                        button(type='submit').form__button Save
                .close 