mixin grid()
    .grid.container
        template#card-template    
            .grid-element
                .grid-element__img
                    .grid-element__trash
                .grid-element-container
                    h2.title
                    .grid-element__like
