mixin element(element)
    .grid-element
        .grid-element-top
            img(src=element.img  alt="").grid-element__img
            .grid-element__trash
        .grid-element-container
            h2.title=element.title
            .grid-element__like
