mixin photo()
    template#photo-template 
        .photo-content
            .blackout
                .photo-element
                    .photo-element__container
                        .photo-element__img
                        .close
                    p.photo-element__title