include add-button.pug
mixin profile()
    section.profile.container
        .profile__avatar
        .profile-info
            .profile-info-container  
                .profile-info__name Jacques Cousteau
                .profile-info__button 
            .profile-info__description Explorer
        +add-button()
        
