include add-button.pug
include form.pug
mixin profile()
    section.profile.container
        .profile__avatar
        .profile-info
            .profile-info-container  
                h2.profile-info__name Jacques Cousteau
                .profile-info__button
                +form()
                .close 
            p.profile-info__description Explorer
        +add-button()
        
