mixin settings()
    .settings.js-settings
        button.settings__button
        .settings__wrap
            .settings__block
                p.settings__title Шапка
                label Фиксированная
                    input(type="checkbox" name="header_class" data-class="fixed" checked value="фиксированная")