.blackout{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    &:before{
        content: "";
        display: inline-block;
        font-size: 0;
        height: 100%;
        width: 100%;
        opacity: .5;
        position: absolute;
        background-color: $pure-black;
        z-index: -1;
    }
}