.grid-element{
    background-color: $pure-white;
    border-radius: 10px;
    &__img{
        width: 100%;
    }
    &__like{
        cursor: pointer;
    }
    &__like:hover{
        cursor: pointer;
        opacity: .5;
    }
}
.grid-element-container{
    display: flex;
    margin: 20px auto 25px auto;
    width: 246px;
    justify-content: space-between;
}