.profile{
    margin-top: 40px;
    display: flex;
    align-items: center;
    position: relative;
    @include desktop-to-phone{
        flex-direction: column;  
    }
    &__avatar{
        background-image: url("../images/avatar.svg");
        width: 120px;
        height: 120px;
    }
}
.profile-info{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 165px;
    @include desktop-to-phone{
        margin: 26px auto 36px auto; 
    }
    &__name{
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 42px;
        line-height: 48px;
        color: $pure-white;
        @include desktop-to-phone{
            font-size: 22px;
            line-height: 27px;
        }
    }
    &__description{
        font-family: Inter, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: $pure-white;
        margin-top: 10px;
        @include desktop-to-phone{
            font-size: 14px;
            line-height: 17px;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__button{
        background-image: url("../images/edit-button.svg");
        width: 24px;
        height: 24px;
        margin-left: 18px;
        cursor: pointer;
    }
    &__button:hover{
        opacity: .6;
    }
}
.profile-info-container{
    display: flex;
    align-items: center;
}