.settings {
  top: 50px;
  position: fixed;
  left: -200px;
  background-color: $base-color;
  transition: left ease .5s;
  padding: rem(10px);
  width: 200px;
  box-sizing: border-box;
  color: #ffffff;
  &__button {
    position: absolute;
    right: -50px;
    top: 0;
    background-color: inherit;
    border: 0;
    outline: 0;
    border-radius: 0 50%  50% 0;
    width: 50px;
    height: 50px;
    padding: 0;
    &:before {
      content: "";
      background-image: url("https://image.flaticon.com/icons/png/512/484/484613.png");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      display: block;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__block {
    margin-bottom: 10px;
    position: relative;
    border-bottom: 1px solid gray;
    label{
      margin-bottom: 5px;
      display: inline-block;
    }
  }
  &__title {
    font-size: rem(16px);
    font-weight: 700;
    margin-bottom: 10px;
  }

  &._open {
    left: 0;
  }
}