$base-font-size: 16px;

//Разрешения экранов
$phone-width: 320px;
$tablet-width: 768px;
$small-desktop-width: 992px;
$desktop-width: 1200px;
$wide-desktop-width : 1400px;

//Цвета
$base-color: #602668;