html {
  font-size: $base-font-size;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: rem(36px);
}

h2 {
  font-size: rem(32px);
}

h3 {
  font-size: rem(28px);
}

h4 {
  font-size: rem(24px);
}

h5 {
  font-size: rem(16px);
}

h6 {
  font-size: rem(12px);
}
